<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/noui/nouislider.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!--===============================================================================================-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>

<script>
$(document).ready(function() {
    $("#btnFetch").click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
    });
});
</script>

<div class="container-contact100" style="background-image:url('static/images/bg1.jpg'); background-repeat: no-repeat;
  background-attachment: fixed;background-size: cover;">

    <div class="wrap-contact100">
        <h5>{{session.get('username')}}</h5>
        <button type="button" class="btn btn-outline-danger float-right" onClick="location.href='/logout'" >Logout</button>
        <form class="contact100-form validate-form">
        	<span class="contact100-form-title">
					Home
				</span>

        <div class="wrap-input100 validate-input bg1">
            <span class="label-input100">Add Product into Cart</span >
            <button type="button" class="btn btn-outline-success float-right" style= "width: 250px" onClick="location.href='/customerAddToCart'" >Add Product into Cart</button>
        </div>

        <div class="wrap-input100 validate-input bg1">
            <span class="label-input100">Suggest Recipe Ingredient</span >
            <button type="button" id="btnFetch" class="btn btn-outline-success float-right" style= "width: 250px" onClick="location.href='/customerSuggestIngredient'" >Suggest Recipe Ingredient</button>
<!--            <button type="button" id="btnFetch" class="btn btn-primary mb-2">Submit</button>-->
        </div>

        <div class="wrap-input100 validate-input bg1">
            <span class="label-input100">Suggest Recipes</span >
            <button type="button" class="btn btn-outline-success float-right" style= "width: 250px" onClick="location.href='/customerRecipeUsingDisease'" >Suggest Recipes</button>
        </div>

        <div class="wrap-input100 validate-input bg1">

            <div class="wrap-input100 validate-input bg1" data-validate="Please Type Product Name" id="table1">
                <table class="table table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Product Name</th>
                        <th scope="col">details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for value in data %}
                    <tr>

                        <th scope="row"></th>
                        <td>{{value}}</td>


                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        </form>

    </div>
</div>

</body>
</html>
