<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/noui/nouislider.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!--===============================================================================================-->
</head>
<body>


<div class="container-contact100" style="background-image:url('static/images/bg1.jpg'); background-repeat: no-repeat;
  background-attachment: fixed;background-size: cover;">

    <div class="wrap-contact100">
        <h5>{{session.get('username')}}</h5>
        <button type="button" class="btn btn-outline-danger float-right" onClick="location.href='/logout'" >Logout</button>
        <form class="contact100-form validate-form">
        	<span class="contact100-form-title">
					Home
				</span>

        <div class="wrap-input100 validate-input bg1">
            <span class="label-input100">Add Product</span >
            <button type="button" class="btn btn-outline-success float-right" style= "width: 250px" onClick="location.href='/addProduct'" >Add Product</button>
        </div>

        <div class="wrap-input100 validate-input bg1">
            <span class="label-input100">Product Nutrition Download</span >
            <button type="button" class="btn btn-outline-success float-right" style= "width: 250px" onClick="location.href='/downloadNutritionValues'" >Product Nutrition Download</button>
        </div>

        <div class="wrap-input100 validate-input bg1">
            <span class="label-input100">Recipe Download</span >
            <button type="button" class="btn btn-outline-success float-right" style= "width: 250px" onClick="location.href='/downloadRecipe'" >Recipe Download</button>
        </div>

<!--        <div class="wrap-input100 validate-input bg1">-->
<!--            <span class="label-input100">Add Product</span>-->
<!--            <button type="button" class="btn btn-success  float-right" >Add Product</button>-->
<!--        </div>-->

<!--        <div class="wrap-input100 validate-input bg1">-->
<!--            <span class="label-input100">Add Product</span>-->
<!--            <button type="button" class="btn btn-success  float-right" >Add Product</button>-->
<!--        </div>-->

<!--        <div class="wrap-input100 validate-input bg1">-->
<!--            <span class="label-input100">Add Product</span>-->
<!--            <button type="button" class="btn btn-success  float-right" >Add Product</button>-->
<!--        </div>-->



        </form>

    </div>
</div>

</body>
</html>
